{% extends "site_checker_app_templates/base.html" %}


{% block page_title %}
sitechecker &mdash; status
{% endblock page_title %}


{% block extra_css %}
<style type="text/css">
table {
    width: 80%;
    border-width: 1px 1px 1px 1px;
    border-spacing: 2px 2px;
    border-style: solid solid solid solid;
    border-color: gray gray gray gray;
    border-collapse: collapse;
    background-color: white;
    /*margin-left:13px;*/
    /*margin-right:5px;*/
    margin-left:auto;
    margin-right:auto;
}
th {
    border-width: 1px 1px 1px 1px;
    padding: 2px 2px 2px 2px;
    border-style: dashed dashed dashed dashed;
    border-color: gray gray gray gray;
    background-color: white;
    -moz-border-radius: 0px 0px 0px 0px;
    vertical-align:middle;
}
td {
    border-width: 1px 1px 1px 1px;
    padding: 3px 3px 3px 3px;
    border-style: dashed dashed dashed dashed;
    border-color: gray gray gray gray;
    background-color: white;
    -moz-border-radius: 0px 0px 0px 0px;
}
span.passed {
    color: green;
}
span.text_not_found {
    color: red;
}
span.url_not_accessible {
    color: red;
}
</style>
{% endblock extra_css %}


{% block content %}

<h1>sitechecker &mdash; service-status</h1>

<table>

    <tr>
        <th><strong>Service</strong></th>
        <th>Status</th>
        <th>&nbsp;Frequency&nbsp;</a></th>
        <th>Last Checked</th>
    </tr>

    <tr><p>&nbsp;</p></tr>

    {% for object in object_list %}
    <tr>
        <td>&nbsp;{{object.name}}&nbsp;</td>
        <td>&nbsp;<span class="{{object.recent_checked_result}}">{{object.recent_checked_result}}</span>&nbsp;</td>
        <td>&nbsp;{{object.check_frequency_number}} {{object.check_frequency_unit}}s&nbsp;</td>
        <td>{{object.recent_checked_time}}</td>
    </tr>
    {% endfor %}

</table>

{% endblock content %}
