{% extends "site_checker_app_templates/base.html" %}


{% block page_title %}
cbp project-info
{% endblock page_title %}


{% block extra_css %}
<style type="text/css">
    div#info_text {
        margin-top: 2em;
    }
    pre#info {
        margin:0 auto;
        width: 80%;
    }
    img#score {
        margin-top: .5em;
    }
    ul {
        margin-top: 1em;
    }
    span.no {
        font-weight: bold;
        color: red;
    }
</style>
{% endblock extra_css %}


{% block content %}

<h1>code-best-practices &mdash; project-info</h1>

<div id="info_text">

    <h2><strong>project: {{ project_name }} </strong></h2>

     <p><img id="score" src="{{ score_image_url }}" alt="score-image"></img></p>

    <ul>
        <li><p>code is versioned: <span {% if code_versioned == "no" %}class="no"{% endif %}">{{ code_versioned }}</span></p></li>
        <li><p>has public code-url: <span {% if has_url == "no" %}class="no"{% endif %}>{{ has_url }}</span></p></li>
        <li><p>is responsive: <span {% if responsive == "no" %}class="no"{% endif %}>{{ responsive }}</span></p></li>
        <li><p>contains lightweight data-reporting: <span {% if reports == "no" %}class="no"{% endif %}>{{ reports }}</span></p></li>
        <li><p>accessability checked: <span {% if accessability == "no" %}class="no"{% endif %}">{{ accessability }}</span></p></li>
        <li><p>data is discoverable: <span {% if discoverable == "no" %}class="no"{% endif %}>{{ discoverable }}</span></p></li>
        <li><p>has site-checker entry: <span {% if has_sitechecker_entry == "no" %}class="no"{% endif %}>{{ has_sitechecker_entry }}</span></p></li>
        <li><p>contact: {{ contact }}</p></li>
    </ul>

    <hr/>
    <p>developers, <a href="{{ admn }}">log in</a> to see additional info and update this or other project-entries</p>


</div>  <!-- end <div id="info_text"> -->

{% endblock content %}
